[submodule "filewatcher"]
	path = filewatcher
	url = https://github.com/aarangop/note-rags-filewatcher.git
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/aarangop/note-rags-infrastructure.git
[submodule "services"]
	path = services
	url = https://github.com/aarangop/note-rags-services.git
